<a class="egml-admin_layer-access_point" href="#" title="Служебный вход" style="padding:0 {{13 / parentFontSize}}em">
	<span class="egml-admin_layer-access_point-placeholder" style="font-size:{{16 / parentFontSize}}em">
		<span class="egml-admin_layer-access_point-interact_area">
			<svg class="egml-admin_layer-access_point-icon" role="none" aria-hidden="true">
				<use xlink:href="#egml-admin_layer-svg_sprite-lock"/>
			</svg>
		</span>
	</span>
</a>