<div class="egml-admin_layer-editable_area egml-admin_layer-editable_area--hidden" title="Настроить область" style="font-size:{{scale}}em">
{{! <div class="egml-admin_layer-editable_area egml-admin_layer-editable_area--hidden" title="Настроить &quot;title&quot;" style="font-size:scaleem"> }}
	{{#has_title}}
	<div class="egml-admin_layer-editable_area-title">{{title}}</div>
	{{/has_title}}
	{{!
	<div class="egml-admin_layer-editable_area-edit_tag-aligner">
		<div class="egml-admin_layer-editable_area-edit_tag">
			<svg class="egml-admin_layer-editable_area-edit_tag-graphics" role="presentation" aria-hidden="true">
				<use xlink:href="#egml-admin_layer-svg_sprite-cog"></use>
			</svg>
			<span class="egml-admin_layer-editable_area-edit_tag-text">Редактировать область</span>
		</div>
	</div>
	}}
	{{!
		комментарий
	}}
</div>
