.egml-admin_layer-access_point {
	display: inline-block;
	height: .8em;
	position: relative;
	cursor: default;
	text-decoration: none;
	color: transparent;
}

.egml-admin_layer-access_point:focus {
	outline: 0;
}

.egml-admin_layer-access_point-scale_root {
	position: absolute;
	left: 50%;
	top: 50%;
}

.egml-admin_layer-access_point-interact_area {
	cursor: pointer;
	position: absolute;
	left: -0.84375em;
	top: -0.84375em;
	padding: 0.375em;
}

@keyframes egml-admin_layer-loading {
	from {
		opacity: 1;
	}
	to {
		opacity: .3;
	}
}

.egml-admin_layer-access_point-icon {
	display: block;
	width: 0.9375em;
	height: 0.9375em;
	fill: #333;
	stroke: transparent;
	stroke-width: 0;
	transition: opacity linear 0.15s;
	opacity: .3;
}

.egml-admin_layer-access_point-icon:not(:root) {
	overflow: visible;
}

.egml-admin_layer-access_point.egml-admin_layer-access_point--hover .egml-admin_layer-access_point-icon, .egml-admin_layer-access_point-interact_area:hover .egml-admin_layer-access_point-icon, .egml-admin_layer-access_point.egml-admin_layer-access_point--focus .egml-admin_layer-access_point-icon, .egml-admin_layer-access_point:focus .egml-admin_layer-access_point-icon, .egml-admin_layer-access_point.egml-admin_layer-access_point--loading .egml-admin_layer-access_point-icon {
	opacity: 1;
}

.egml-admin_layer-access_point.egml-admin_layer-access_point--loading .egml-admin_layer-access_point-icon {
	animation: 0.8s linear infinite alternate "egml-admin_layer-loading";
}
