/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
	line-height: 1.15;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
	margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
	display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
	display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
	margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
	display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
	background-color: transparent;
	/* 1 */
	-webkit-text-decoration-skip: objects;
	/* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
	font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
	font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
	font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
	background-color: #ff0;
	color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
	font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
	display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
	border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
	overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
	overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
	/* 1 */
	text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	/**
       * Remove the inner border and padding in Firefox.
       */
	/**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
	overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
	/**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
	box-sizing: border-box;
	/* 1 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	color: inherit;
	/* 2 */
	white-space: normal;
	/* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
	overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
	display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
	display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
	display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
	display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
	display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
	display: none;
}

body, .text.text--normal {
	font-size: 1em;
	font-weight: 400;
	font-family: sans-serif;
	font-style: normal;
	line-height: 1.3;
	color: #000;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}

.text.text--muted {
	color: #999;
}

.text.text--bold, strong {
	font-weight: 700;
}

body, .text.text--normal {
	font-size: 1.4rem;
}

.text.text--size-10 {
	font-size: 1rem;
}

.text.text--size-relative-10 {
	font-size: 0.7142857143em;
}

.text.text--size-12 {
	font-size: 1.2rem;
}

.text.text--size-relative-12 {
	font-size: 0.8571428571em;
}

.text.text--size-16 {
	font-size: 1.6rem;
}

.text.text--size-relative-16 {
	font-size: 1.1428571429em;
}

.text.text--size-20 {
	font-size: 2rem;
}

.text.text--size-relative-20 {
	font-size: 1.4285714286em;
}

.text.text--size-24 {
	font-size: 2.4rem;
}

.text.text--size-relative-24 {
	font-size: 1.7142857143em;
}

.text.text--center {
	text-align: center;
}

.text.text--middle {
	vertical-align: middle;
}

.text.text--no-wrap {
	white-space: nowrap;
}

.text.text--green {
	color: green;
}

.row.row--item-margin-5 > .row-item:first-child, .row-item.row-item--margin-5:first-child, .row.row--item-margin-10 > .row-item:first-child, .row-item.row-item--margin-10:first-child, .row.row--item-margin-15 > .row-item:first-child, .row-item.row-item--margin-15:first-child, .row.row--item-margin-20 > .row-item:first-child, .row-item.row-item--margin-20:first-child, .row.row--item-margin-30 > .row-item:first-child, .row-item.row-item--margin-30:first-child {
	margin-left: 0;
}

.row.row--item-margin-5 > .row-item:last-child, .row-item.row-item--margin-5:last-child, .row.row--item-margin-10 > .row-item:last-child, .row-item.row-item--margin-10:last-child, .row.row--item-margin-15 > .row-item:last-child, .row-item.row-item--margin-15:last-child, .row.row--item-margin-20 > .row-item:last-child, .row-item.row-item--margin-20:last-child, .row.row--item-margin-30 > .row-item:last-child, .row-item.row-item--margin-30:last-child {
	margin-right: 0;
}

.row.row--edge:first-child, p.paragraph--edge:first-child, .paragraph.paragraph--edge:first-child {
	margin-top: 0;
}

.row.row--edge:last-child, p.paragraph--edge:last-child, .paragraph.paragraph--edge:last-child {
	margin-bottom: 0;
}

.row.row--item-margin-5 > .row-item, .row.row--item-margin-5 > .row-item.row-item--margin-5, .row.row--item-margin-10 > .row-item.row-item--margin-5, .row.row--item-margin-15 > .row-item.row-item--margin-5, .row.row--item-margin-20 > .row-item.row-item--margin-5, .row.row--item-margin-30 > .row-item.row-item--margin-5, .row-item.row-item--margin-5 {
	margin-right: 0.5rem;
}

.row.row--margin-5 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.row.row--item-margin-5 > .row-item.row-item--margin-10, .row.row--item-margin-10 > .row-item, .row.row--item-margin-10 > .row-item.row-item--margin-10, .row.row--item-margin-15 > .row-item.row-item--margin-10, .row.row--item-margin-20 > .row-item.row-item--margin-10, .row.row--item-margin-30 > .row-item.row-item--margin-10, .row-item.row-item--margin-10 {
	margin-right: 1rem;
}

.row.row--margin-10 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p.paragraph--margin-15r, .paragraph.paragraph--margin-15r {
	margin-top: 0.9375em;
	margin-bottom: 0.9375em;
}

.row.row--item-margin-5 > .row-item.row-item--margin-15, .row.row--item-margin-10 > .row-item.row-item--margin-15, .row.row--item-margin-15 > .row-item, .row.row--item-margin-15 > .row-item.row-item--margin-15, .row.row--item-margin-20 > .row-item.row-item--margin-15, .row.row--item-margin-30 > .row-item.row-item--margin-15, .row-item.row-item--margin-15 {
	margin-right: 1.5rem;
}

.row.row--margin-15, p.paragraph--margin-15, .paragraph.paragraph--margin-15 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.row.row--item-margin-5 > .row-item.row-item--margin-20, .row.row--item-margin-10 > .row-item.row-item--margin-20, .row.row--item-margin-15 > .row-item.row-item--margin-20, .row.row--item-margin-20 > .row-item, .row.row--item-margin-20 > .row-item.row-item--margin-20, .row.row--item-margin-30 > .row-item.row-item--margin-20, .row-item.row-item--margin-20 {
	margin-right: 2rem;
}

.row.row--margin-20 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.row.row--margin-25 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.row.row--margin, .row.row--paragraph, p, .paragraph, p.paragraph--margin-30r, .paragraph.paragraph--margin-30r {
	margin-top: 1.875em;
	margin-bottom: 1.875em;
}

.row.row--item-margin-5 > .row-item.row-item--margin-30, .row.row--item-margin-10 > .row-item.row-item--margin-30, .row.row--item-margin-15 > .row-item.row-item--margin-30, .row.row--item-margin-20 > .row-item.row-item--margin-30, .row.row--item-margin-30 > .row-item, .row.row--item-margin-30 > .row-item.row-item--margin-30, .row-item.row-item--margin-30 {
	margin-right: 3rem;
}

.row.row--margin-30, p.paragraph--margin-30, .paragraph.paragraph--margin-30 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.row.row--margin-35 {
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
}

.row.row--margin-40 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.row.row--margin-45 {
	margin-top: 4.5rem;
	margin-bottom: 4.5rem;
}

.row.row--margin-50 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.row {
	display: flex;
	align-items: center;
	justify-content: normal;
	flex-flow: row nowrap;
}

.row.row--block {
	display: flex;
}

.row.row--inline {
	display: inline-flex;
}

.row.row--top {
	align-items: flex-start;
}

.row.row--stretch {
	align-items: stretch;
}

.row.row--bottom {
	align-items: flex-end;
}

.row.row--left {
	justify-content: flex-start;
}

.row.row--center {
	justify-content: safe center;
}

.row.row--right {
	justify-content: flex-end;
}

.row.row--vertical {
	flex-direction: column;
}

.row-item {
	flex: 0 1 auto;
}

.row-item.row-item--fill {
	flex-grow: 1;
}

.row-item.row-item--no-shrink {
	flex-shrink: 0;
}

.row-item.row-item--top {
	align-self: flex-start;
}

.row-item.row-item--middle {
	align-self: center;
}

.row-item.row-item--stretch {
	align-self: stretch;
}

.row-item.row-item--bottom {
	align-self: flex-end;
}

.row-item.row-item--clip {
	overflow: hidden;
}

html {
	font-size: .625em;
}

svg {
	width: 3rem;
	height: 3rem;
	stroke-width: 0;
}

svg use {
	user-select: auto;
	-moz-user-select: none;
}

p.paragraph--no-margin, .paragraph.paragraph--no-margin {
	margin: 0;
}

.spacer.spacer--block {
	display: block;
}

.spacer.spacer--block.spacer--5 {
	height: 0.5rem;
}

.spacer.spacer--block.spacer--10 {
	height: 1rem;
}

.spacer.spacer--block.spacer--15 {
	height: 1.5rem;
}

.spacer.spacer--block.spacer--20 {
	height: 2rem;
}

.spacer.spacer--block.spacer--25 {
	height: 2.5rem;
}

.spacer.spacer--block.spacer--30 {
	height: 3rem;
}

.spacer.spacer--inline {
	display: inline-block;
}

.spacer.spacer--inline.spacer--5 {
	width: 0.5rem;
}

.spacer.spacer--inline.spacer--10 {
	width: 1rem;
}

.spacer.spacer--inline.spacer--15 {
	width: 1.5rem;
}

.spacer.spacer--inline.spacer--20 {
	width: 2rem;
}

.spacer.spacer--inline.spacer--25 {
	width: 2.5rem;
}

.spacer.spacer--inline.spacer--30 {
	width: 3rem;
}
