.egml-admin_layer-panel-button {
	font-size: 1em;
	font-weight: 400;
	font-family: sans-serif;
	font-style: normal;
	line-height: 1.3;
	color: #000;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}

.egml-admin_layer-panel-button:first-child {
	margin-top: 0;
}

.egml-admin_layer-panel-button:last-child {
	margin-bottom: 0;
}

.egml-admin_layer-panel-button {
	display: flex;
	align-items: center;
	justify-content: normal;
	flex-flow: row nowrap;
}

@keyframes egml-admin_layer-slide-in {
	from {
		transform: translateX(-4.1875em);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes egml-admin_layer-slide-out {
	to {
		transform: translateX(-4.1875em);
	}
}

.egml-admin_layer-panel {
	position: fixed;
	top: 12.5em;
	left: 0;
	z-index: 32766;
}

.egml-admin_layer-panel-button {
	background: #fff;
	border-radius: 0.375em;
	padding: 0.59375em;
	margin: 0.75em 0.9375em;
	box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.35);
	border: 0.1875em solid transparent;
	transition: background-color .15s linear;
}

.egml-admin_layer-panel-button:hover, .egml-admin_layer-panel-button:active, .egml-admin_layer-panel-button:focus {
	background: dodgerblue;
}

.egml-admin_layer-panel-button:focus {
	outline: 0;
}

.egml-admin_layer-panel-button:nth-child(1) {
	animation: 0.6s ease 0.3s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(2) {
	animation: 0.6s ease 0.5s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(3) {
	animation: 0.6s ease 0.7s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(4) {
	animation: 0.6s ease 0.9s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(5) {
	animation: 0.6s ease 1.1s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(6) {
	animation: 0.6s ease 1.3s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(7) {
	animation: 0.6s ease 1.5s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(8) {
	animation: 0.6s ease 1.7s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(9) {
	animation: 0.6s ease 1.9s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(10) {
	animation: 0.6s ease 2.1s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(1) {
	animation: 0.6s ease 0s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(2) {
	animation: 0.6s ease 0.2s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(3) {
	animation: 0.6s ease 0.4s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(4) {
	animation: 0.6s ease 0.6s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(5) {
	animation: 0.6s ease 0.8s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(6) {
	animation: 0.6s ease 1s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(7) {
	animation: 0.6s ease 1.2s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(8) {
	animation: 0.6s ease 1.4s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(9) {
	animation: 0.6s ease 1.6s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(10) {
	animation: 0.6s ease 1.8s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel-button-icon {
	width: 1.375em;
	height: 1.375em;
	fill: #333;
	transition: fill .15s linear;
}

.egml-admin_layer-panel-button:hover .egml-admin_layer-panel-button-icon, .egml-admin_layer-panel-button:active .egml-admin_layer-panel-button-icon, .egml-admin_layer-panel-button:focus .egml-admin_layer-panel-button-icon {
	fill: #fff;
}

.egml-admin_layer-editable_area {
	position: absolute;
	z-index: 32765;
	transition: width 0.15s ease, height 0.15s ease, top 0.15s ease, left 0.15s ease, border-color 0.15s linear, background-color 0.15s linear;
	border-width: 0.0625em;
	border-style: solid;
	border-color: #047aff;
	background-color: rgba(205, 234, 255, 0.4);
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 0.25em;
}

.egml-admin_layer-editable_area:hover {
	background-color: rgba(205, 234, 255, 0.8);
}

.egml-admin_layer-editable_area.egml-admin_layer-editable_area--hidden {
	visibility: hidden;
	overflow: hidden;
	height: 0;
	transition: none;
}

.egml-admin_layer-editable_area.egml-admin_layer-editable_area--blue {
	border-color: dodgerblue;
	background-color: skyblue;
}

.egml-admin_layer-editable_area.egml-admin_layer-editable_area--red {
	border-color: crimson;
	background-color: indianred;
}

.egml-admin_layer-editable_area.egml-admin_layer-editable_area--orange {
	border-color: orangered;
	background-color: orange;
}

.egml-admin_layer-editable_area.egml-admin_layer-editable_area--green {
	border-color: forestgreen;
	background-color: yellowgreen;
}

.egml-admin_layer-editable_area.egml-admin_layer-editable_area--violet {
	border-color: purple;
	background-color: plum;
}

.egml-admin_layer-editable_area-title {
	position: absolute;
	top: -1.125em;
	left: 0.3125em;
	opacity: 0;
	background: #047aff;
	color: #fff;
	padding: .35em .85em .45em .75em;
	font-family: sans-serif;
	font-size: 0.875em;
	border-radius: 0.25em;
}

.egml-admin_layer-editable_area-title.egml-admin_layer-editable_area-title--visible, .egml-admin_layer-editable_area:hover .egml-admin_layer-editable_area-title {
	opacity: 1;
}

.egml-admin_layer-editable_area-edit_tag {
	position: relative;
	top: -.8em;
	opacity: 0;
	padding: 0.9375em;
	background: #047aff;
	color: #fff;
	fill: #fff;
	font-size: .8em;
	flex: 0 1 auto;
	transition: top .2s ease, opacity .2s linear;
}

.egml-admin_layer-editable_area-edit_tag.egml-admin_layer-editable_area-edit_tag--visible, .egml-admin_layer-editable_area:hover .egml-admin_layer-editable_area-edit_tag {
	top: 0;
	opacity: 1;
}

.egml-admin_layer-editable_area-edit_tag-aliger {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.egml-admin_layer-editable_area-edit_tag-graphics {
	width: 1.25em;
	height: 1.25em;
	fill: inherit;
	stroke: transparent;
	stroke-width: 0px;
}

.egml-admin_layer-editable_area-edit_tag-text {
	margin-left: .5em;
	font-family: sans-serif;
	vertical-align: middle;
}
