.egml-admin_layer-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 32767;
}

.egml-admin_layer-modal-clip {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	transition: background-color .4s linear;
}

.egml-admin_layer-modal-aligner {
	display: table;
	width: 100%;
	height: 100%;
}

.egml-admin_layer-modal-aligner-helper {
	display: table-cell;
	padding: 3.125em 1.875em;
	vertical-align: middle;
}

.egml-admin_layer-modal-box {
	margin: auto;
	position: relative;
	width: 21.875em;
	height: 12.5em;
	background: #fff;
	border-radius: 0.25em;
	box-shadow: 0 0.125em 1.25em 0 rgba(0, 0, 0, 0.25);
	transition: width .5s ease,  height .5s ease,  opacity .2s linear,  transform .4s ease;
	overflow: hidden;
}

.egml-admin_layer-modal-box.egml-admin_layer-modal-box--default {
	width: 37.5em;
}

.egml-admin_layer-modal-box.egml-admin_layer-modal-box--tight, .egml-admin_layer-modal-box.egml-admin_layer-modal-box--loading {
	width: 21.875em;
}

.egml-admin_layer-modal-content-iframe {
	width: 100%;
	display: block;
	overflow: hidden;
	border: 0;
	transition: opacity .5s linear;
}

.egml-admin_layer-modal-close {
	font-size: 1em;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.8125em;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.egml-admin_layer-modal-close:focus {
	outline: 0;
}

.egml-admin_layer-modal-close-icon {
	display: block;
	width: 1.0625em;
	height: 1.0625em;
	opacity: .2;
	transition: opacity .3s linear;
	fill: none;
	stroke: #000;
	stroke-width: 15.8823529412;
	stroke-linecap: round;
}

.egml-admin_layer-modal-close:hover .egml-admin_layer-modal-close-icon, .egml-admin_layer-modal-close:active .egml-admin_layer-modal-close-icon, .egml-admin_layer-modal-close:focus .egml-admin_layer-modal-close-icon {
	opacity: .8;
}
