.egml-admin_layer-panel-button {
	font-size: 1em;
	font-weight: 400;
	font-family: sans-serif;
	font-style: normal;
	line-height: 1.3;
	color: #000;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}

.egml-admin_layer-panel-button:first-child {
	margin-top: 0;
}

.egml-admin_layer-panel-button:last-child {
	margin-bottom: 0;
}

.egml-admin_layer-panel-button {
	display: flex;
	align-items: center;
	justify-content: normal;
	flex-flow: row nowrap;
}

@keyframes egml-admin_layer-slide-in {
	from {
		transform: translateX(-4.1875em);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes egml-admin_layer-slide-out {
	to {
		transform: translateX(-4.1875em);
	}
}

.egml-admin_layer-panel {
	position: fixed;
	top: 12.5em;
	left: 0;
	z-index: 32766;
}

.egml-admin_layer-panel-button {
	background: #fff;
	border-radius: 0.375em;
	padding: 0.59375em;
	margin: 0.75em 0.9375em;
	box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.35);
	border: 0.1875em solid transparent;
	transition: background-color .15s linear;
}

.egml-admin_layer-panel-button:hover, .egml-admin_layer-panel-button:active, .egml-admin_layer-panel-button:focus {
	background: dodgerblue;
}

.egml-admin_layer-panel-button:focus {
	outline: 0;
}

.egml-admin_layer-panel-button:nth-child(1) {
	animation: 0.6s ease 0.3s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(2) {
	animation: 0.6s ease 0.5s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(3) {
	animation: 0.6s ease 0.7s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(4) {
	animation: 0.6s ease 0.9s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(5) {
	animation: 0.6s ease 1.1s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(6) {
	animation: 0.6s ease 1.3s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(7) {
	animation: 0.6s ease 1.5s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(8) {
	animation: 0.6s ease 1.7s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(9) {
	animation: 0.6s ease 1.9s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel-button:nth-child(10) {
	animation: 0.6s ease 2.1s both egml-admin_layer-slide-in;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(1) {
	animation: 0.6s ease 0s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(2) {
	animation: 0.6s ease 0.2s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(3) {
	animation: 0.6s ease 0.4s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(4) {
	animation: 0.6s ease 0.6s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(5) {
	animation: 0.6s ease 0.8s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(6) {
	animation: 0.6s ease 1s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(7) {
	animation: 0.6s ease 1.2s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(8) {
	animation: 0.6s ease 1.4s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(9) {
	animation: 0.6s ease 1.6s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel.egml-admin_layer-panel--hidden .egml-admin_layer-panel-button:nth-child(10) {
	animation: 0.6s ease 1.8s both egml-admin_layer-slide-out;
}

.egml-admin_layer-panel-button-icon {
	width: 1.375em;
	height: 1.375em;
	fill: #333;
	transition: fill .15s linear;
}

.egml-admin_layer-panel-button:hover .egml-admin_layer-panel-button-icon, .egml-admin_layer-panel-button:active .egml-admin_layer-panel-button-icon, .egml-admin_layer-panel-button:focus .egml-admin_layer-panel-button-icon {
	fill: #fff;
}
